</br>
<h5>Your Mentor Network</h5>
<div class="row">
    <div class="left">
      <div class="card">    
        <div class="card-content">
<h5>New Matches</h5>

<% matches = @mentee.get_matches %> 
<% match_ids = matches.map { |match| match[0].id } %>
<% pending_mentors = @mentee.get_pending_mentors %>
<% new_matches = match_ids %>
<% if !pending_mentors.empty? %>
    <% new_matches = pending_mentors - match_ids %> 
<% end %>

<% if @mentee.paused %> 
    <i>You are currently paused. If you would like to receive matches again, please unpause yourself below!</i>
<% elsif new_matches.nil? || new_matches.empty? %> 
    <p>You currently have no new mentor matches! Be patient, matches are more likely to appear when more appropriate mentors join the platform.</p> 
<% else %>
    <table> 
        <tbody>
            <% new_matches.each do |match_id| %>
                <tr>
                    <td><%= link_to 'View Match', mentor_path(match_id) %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% end %>
</br></br>
<h5>Pending Requests</h5>
    
<% if pending_mentors.nil? || pending_mentors.empty? %>
    <p>You have not requested any mentors at this time.</p> 
<% else %>
    <table> 
        <tbody>
            <% pending_mentors.each do |mentor_id| %>
                <tr>
                    <td><%= link_to 'View Request',  mentor_path(mentor_id) %></td> 
                </tr>
            <% end %> 
        </tbody> 
    </table>
<% end %>
            </div>
        </div>
    </div>
</div>
            
<div>
    <%= link_to 'Manage Mentee Profile', edit_mentee_path(@mentee), :class => "btn-large waves-effect waves-light red" %>  
    <%= link_to @mentee.paused ? 'Unpause' : 'Pause', pause_mentee_path(@mentee), :class => "btn-large waves-effect waves-light light-blue" %>
</div>

        