<span><b>Mentorship Matches</b></span>
<b></b>
<% matches = @mentee.get_matches %> 
<% if matches.nil? %> 
    <p>You currently have no mentor matches! Be patient, matches are more likely to appear when more appropriate mentors join the platform.</p> 
<% else %>
    <%= matches %> 
<% end %>