<div class="row valign-wrapper" id="topbar">

  <div class="col s10">
    <!--<h3><span style="font-weight:900">REDCHAIR</span><span style="font-weight:300">PGH Mentorship</span></h3>-->
    <%= link_to(image_tag('logos/logo.png', :size => "24x46"), home_path) %>  <%= link_to(image_tag('logos/redchair-words.png', :size => "320x51"), home_path) %>
  </div>
  <div class="col s1">
    &nbsp;
  </div>
</div>