<!--Sign up form-->

<div class="row">
  <div class="col s7">
    <div class="card yellow lighten-4">
      <div class="card-content">
        <h4>Join the RedChairPGH Community</h4>
            <div class="card-content">
                <h5><%=link_to "Create an Account with LinkedIn", "/auth/linkedin"%></h5>
            </div>
      </div>
    </div>
  </div>
</div>