<div class="imgimg">
<%= image_tag("bg.jpeg", :alt => "rss feed")%>
</div>
<div class="row">    
  <div class="col s9">
    <div class="card">
      <div class="card-content">
        <span class="card-title"><em>About RedChairPGH</em></span>
        <p>RedChairPGH provides a community of support for women in computing 
        and information technology professions. We offer research based 
        resources and promote awareness of the value of gender diversity at 
        Pittsburgh technical events. RedChairPGH hosts an annual Redchairpgh 
        #sitwithme event that celebrates progress and provides content to 
        support women in the computing and information technology professions.
        </p>
        <p>&nbsp;</p>
      </div>
    </div>
  </div>
</div>
