<div class="imgimg">
<%= image_tag("bg.jpg", :alt => "rss feed")%>
</div>
<h1>Editing Mentor Profile</h1>

<%= render 'form', mentor: @mentor %>

<%= link_to 'Show', @mentor %> |
<%= link_to 'Back', mentors_path %>
